/* mobile view */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/** header **/ 

header {
    display: flex;
    background-color: #9b86dc;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

header img {
    border-radius: 50%;
    height: 40px;
}

header svg {
    stroke: white;
}

header h1 {
    font-size: 1.3rem;
    flex-grow: 1;
}

header h2 {
    font-size: 0.8rem;
    font-weight: normal;
}

header .student-container {
    display: flex;
    border-left: 1px solid #c8c2c2;
    padding-left: 0.5rem;
    align-items: center;
    gap: .7rem;
}

/* Navigation */
nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

nav {
    background-color: #432e7fd6;
    padding: 1rem 0;
}



/* tablet view */
@media (min-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'header header header' 
                             'nav main main'
                             'nav main main';
        grid-template-columns: .5fr 2fr 2fr;
    }

    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
        padding: 1rem .5rem;
        height: 100%;
    }

    main {
        grid-area: main;
    }


}


/* desktop view */ 

@media (min-width: 1024px) {


}