/* general */

:root {
    --main-bg-color: #9b86dc;
    --bg-color-dark: #432e7fd6;
    --text-color: #fff;
    --border-grey: #c8c2c2;
    --light-grey: #efefef;
  }

.daily-traffic, .mobile-users, .message-user, .settings-section, .recent-activity {
    box-sizing: border-box;
}

h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
}


/***** alert modal *****/ 

.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: var(--main-bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 5px;
}

/* mobile view */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    margin: 0;
    display: grid;
    padding: 10px;
}

/** header **/ 

header {
    display: flex;
    background-color: var(--main-bg-color);
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

header img {
    border-radius: 50%;
    height: 40px;
}

header svg {
    stroke: white;
}

header h1 {
    font-size: 1.3rem;
    flex-grow: 1;
}

header h2 {
    font-size: 0.8rem;
    font-weight: normal;
}

header .student-container {
    display: flex;
    border-left: 1px solid var(--border-grey);
    padding-left: 0.5rem;
    align-items: center;
    gap: .7rem;
}

.bell-container {
    position: relative;
    transition: transform 1s ease-in-out;
}

.bell-container:hover {
    transform: rotate(90deg) scale(0.5);
}

.green-marker {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: lightgreen;
    top: 5px;
    right: -5px;
    position: absolute;
}

/* .main-navigation */
.main-nav ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

.main-nav {
    background-color: var(--bg-color-dark);
    padding: 1rem 0;
}

/* alert box */

.alert {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    position: relative;
    padding: .5rem;
    border-radius: 5px;
    margin: 1rem;
}

.alert p {
    margin: 0;
}

.close-icon {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    cursor: pointer;
    font-size: 0.8rem;
}

/* Graph */ 

/* make containers full width on mobile */
.traffic-chart, .daily-traffic, .mobile-users {
    width: 95vw;
}

.traffic-chart {
    margin-bottom: 1.5rem;
}

.graph-nav ul {
    list-style-type: none;
    display: flex;
    gap: .8rem;
    align-items: center;
    padding: 0;

}

.graph-nav ul li.active {
    background: lightgreen;
    border-radius: 10px;
    padding: .7rem;
}

.graph-nav ul li {
    font-weight: 500;
}

.daily-traffic {
    border-top: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    margin-left: 0;
    /* padding-left: 10px; */
}

/* social stats widget */

.social-container {
    display: flex;
    flex-direction: column;
}

.social-stats {
    /* margin-bottom: 1.5rem; */
    padding-bottom: 1.5rem;
}

.social-child {
    display: flex;
    padding: 1rem;
    background-color: #efefef;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    margin: 0.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.social-child p {
    font-size: 1.5rem;
    color: #9d9898;
    margin: 0;
}

.social-child h5 {
    color: #9b86dc;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 300;
}

.social-child svg {
    padding: 0.8rem;
    height: 25px;
    width: 25px;
}

.social-child .social-icon {
    padding: 0.3rem;
    background-color: #9b86dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

/* members section */

.members-main {
    display: flex;
    flex-direction: column;
}

.members-individual {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--border-grey);
    padding: 1rem;
    font-size: 14px;
}

.members-individual img {
    border-radius: 50%; 
    height: 50px;
}

.members-individual a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.members-individual p {
    margin: 0;
}

.members-text {
    text-align: center;
}

.chevron-icon {
  display: none;
}

/****** message user form ******/

.message-user form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.error-message, .error-empty {
    color: red;
    font-size: 0.8rem;
    margin: 0 0 0.8rem;
}

.success-message {
    color: green;
    font-size: 0.8rem;
    margin: 0 0 1.2rem;
}

.submit-btn {
    background-color: var(--main-bg-color);
    padding: 0.8rem;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

form input, form textarea {
    border-radius: 5px;
    padding: 0.8rem;
    border: 1px solid var(--border-grey);
    background-color: #efefef;
}

form input::placeholder, form textarea::placeholder {
    color: var(--border-grey);
}

/***** settings widget *****/

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    justify-content: flex-start;

}

.settings-section {
    margin-top: 1rem;
}

.button-container {
    display: flex;
    gap: 0.5rem;
    bottom: 0;
}
.button-container button {
    flex-grow: 1;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* toggle switch */
.settings-section .toggle {
    -webkit-appearance: none;
    position: relative;
    width: 77px;
    height: 25px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--border-grey);
}

.settings-section .toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid var(--border-grey);
    background-color: white;
    transition: left .3s;
}

.settings-section .toggle:checked {
    background-color: var(--main-bg-color);
    content: 'on';
}

.settings-section .toggle:checked::after {
    left: 80%;
}

.select-wrapper {
   position: relative;
   display: inline-block;
   margin-top: auto;
}

.select-wrapper::after {
    content: '▼';
    color: var(--main-bg-color);
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    pointer-events: none;
}

.settings-section select {
    padding: 0.8rem;
    width: 100%;
    background-color: #efefef;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    color: var(--border-grey);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.save-btn, .cancel-btn {
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 300;
}

.save-btn {
    background-color: var(--main-bg-color);
}

.cancel-btn {
    background-color: var(--border-grey);

}

/* tablet view */
@media (min-width: 768px) {

    .daily-traffic, .mobile-users, .message-user, .settings-section, .recent-activity {
      width: 45vw;
    }
    
    /* full width elements */
    .traffic-chart, 
    .social-stats, 
    .dashboard-container, 
    .new-members, 
    .recent-activity, 
    .message-user, 
    .settings-section  {
       grid-column: 1 / span 2;
       width: 90vw;
    }

    /* half width elements */

    .daily-traffic {
        grid-column: 1 / span 1;
    }

    .daily-traffic canvas {
        width: 300px;
    }

    .mobile-users {
        grid-column: 2 / span 1;
    }


    .graph-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
  
    }

    .graph-container section {
        flex-grow: 1;
        border-top: 1px solid #9d9898;
    }

    .social-container {
        flex-direction: row;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-start;
    }

    /* grid declaration for main page elements */
    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header'
            'main-nav main main'
            'main-nav main main';
    }

    header {
        grid-area: header;
    }

    .main-nav {
        grid-area: main-nav;
        padding: 1rem 1rem;
        height: 100%;
    }

    /* grid declaration */

    main {
        grid-area: main;
        grid-template-columns: 50%;
    }

    .graph-nav ul {
      justify-content: flex-end;
    }
    
    .members-individual {
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.8rem;
    }

    .members-text {
      text-align: left;
    }

    .members-individual .date, .chevron-icon {
        margin-left: auto;
        text-align: right;
    }

    .chevron-icon {
        transform: rotate(270deg);
        color: var(--bg-color-dark);
        display: inline;
    }

    .mobile-users {
        border-left: 1px solid var(--border-grey);
        border-bottom: 1px solid var(--border-grey);
        padding-left: 0.8rem;
        padding-bottom: 0.8rem;
        border-top: 1px solid var(--border-grey);
    }

    .toggle-container {
       justify-content: flex-start;
       gap: 1rem;
    }

    .toggle-container label {
        flex-basis: 220px;
    }

    .settings-section {
        border-top: 1px solid var(--border-grey)
    }


}


/* desktop view */ 

@media (min-width: 1024px) {
    .members-section {
        display: flex;
        gap: 1rem;
        border-top: 1px solid var(--border-grey);
    }

    .members-section section {
        flex-grow: 1;
        padding: 1rem;
    }

    .members-section section:first-child {
        border-right: 1px solid var(--border-grey);
    }

    .user-container {
        display: flex;
        gap: 1rem;
    }

    .user-container section {
        flex-grow: 1
    }

    /* make elements half width of the grid */ 
    .new-members, 
    .message-user {
        grid-column: 1 / span 1;
    }
    
    .recent-activity, .settings-section {
        grid-column: 2 / span 1;
    }

    .new-members, 
    .message-user, 
    .recent-activity, 
    .settings-section {
        width: 45vw;
    }

    .settings-section {
        margin-top: 0;
        /* padding-left: 10px; */
    }

    .members-individual {
        min-height: 60px;
    }

    .members-main {
        border-right: 1px solid var(--border-grey);
    }

    .recent-activity .members-main {
        border-right: none;
    }

    .toggle-container {
        font-size: 15px;
    }

    .message-user {
        border-right: 1px solid var(--border-grey);
        border-top: 1px solid var(--border-grey);
    }

    .message-user form {
        /* width: 90%; */
        margin: 0 auto;
    }

    .form-container {
        /* width: 95%; */
        margin: 0 auto;
        padding-right: 10px;
    }

    .social-stats {
        border-bottom: 1px solid var(--border-grey);
    }

    .members-individual:last-of-type {
        border-bottom: none;
    }




}